<div class="container section">
  <h2 class="section-header">Get in Touch</h2>
  <hr />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-description">
        Have questions? Want to talk about your options? Wondering how much this is going to cost?
        Send us a message and we'll do what we can to make your wildest dreams come true.
      </div>      
      <%= form_for ContactForm.new, :url => "/send#contact_form", html: {class: "form-horizontal", id: "contact_form"} do |f| %>
        <div class="row">

          <div class="col-md-6 col-xs-12" id='name-input'><%= f.text_field :name, placeholder: "Name", class: 'form-control' %></div>

          <div class="col-md-6 col-xs-12" id='email-input'><%= f.email_field :email, placeholder: "Email", class: 'form-control' %></div>
        </div>

        <%= f.text_area :message, placeholder: "Tell me more...", class: 'form-control'  %><br />
        <div class="row">
          <div class="col-xs-7 form-status">
            <%if !@status.blank? %>
              <%= @status %>
            <% end %>
          </div>
          <div class="col-xs-5 form-actions">
            <%= f.submit "Send", class: 'btn' %>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>